name: Deploy (Production)

on:
    workflow_dispatch:
        inputs:
            deploy_online:
                description: 'Deploy online (Firebase)'
                type: boolean
                required: true
                default: true
            deploy_offline:
                description: 'Deploy offline (Firebase)'
                type: boolean
                required: true
                default: true
            deploy_netlify:
                description: 'Deploy offline (Netlify)'
                type: boolean
                required: true
                default: true
            version:
                description: 'Version (e.g., v1.0.0)'
                required: true
                default:

jobs:
    build_and_deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Setup Environment
              uses: ./.github/actions/setup-env
              with:
                  manual_version: ${{ inputs.version }}

            - name: Validate Secrets
              id: check_secrets
              uses: ./.github/actions/validate-secrets
              with:
                  deploy_online: ${{ inputs.deploy_online }}
                  deploy_offline: ${{ inputs.deploy_offline }}
                  deploy_netlify: ${{ inputs.deploy_netlify }}
                  firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MAPLIO }}
                  firebase_api_key: ${{ secrets.VITE_FIREBASE_API_KEY }}
                  firebase_auth_domain: ${{ secrets.VITE_FIREBASE_AUTH_DOMAIN }}
                  firebase_project_id: ${{ secrets.VITE_FIREBASE_PROJECT_ID }}
                  firebase_storage_bucket: ${{ secrets.VITE_FIREBASE_STORAGE_BUCKET }}
                  firebase_messaging_sender_id: ${{ secrets.VITE_FIREBASE_MESSAGING_SENDER_ID }}
                  firebase_app_id: ${{ secrets.VITE_FIREBASE_APP_ID }}
                  firebase_service_account_offline: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MAPLIO_OFFLINE }}
                  firebase_project_id_offline: ${{ secrets.VITE_FIREBASE_PROJECT_ID_OFFLINE }}
                  netlify_auth_token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                  netlify_site_id: ${{ secrets.NETLIFY_SITE_ID }}

            - name: Production Online Deploy
              uses: ./.github/actions/build-and-deploy
              with:
                  mode: 'online'
                  deploy_firebase: ${{ inputs.deploy_online == true && steps.check_secrets.outputs.online_ok == 'true' && 'true' || 'false' }}
                  deploy_netlify: 'false'
                  deploy_artifact: 'false'
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  firebase_channel_id: 'live'
                  firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MAPLIO }}
                  firebase_api_key: ${{ secrets.VITE_FIREBASE_API_KEY }}
                  firebase_auth_domain: ${{ secrets.VITE_FIREBASE_AUTH_DOMAIN }}
                  firebase_project_id: ${{ secrets.VITE_FIREBASE_PROJECT_ID }}
                  firebase_storage_bucket: ${{ secrets.VITE_FIREBASE_STORAGE_BUCKET }}
                  firebase_messaging_sender_id: ${{ secrets.VITE_FIREBASE_MESSAGING_SENDER_ID }}
                  firebase_app_id: ${{ secrets.VITE_FIREBASE_APP_ID }}

            - name: Production Offline Deploy
              uses: ./.github/actions/build-and-deploy
              with:
                  mode: 'offline'
                  deploy_firebase: ${{ inputs.deploy_offline == true && steps.check_secrets.outputs.offline_ok == 'true' && 'true' || 'false' }}
                  deploy_netlify: ${{ inputs.deploy_netlify == true && steps.check_secrets.outputs.netlify_ok == 'true' && 'true' || 'false' }}
                  deploy_artifact: 'true'
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  firebase_channel_id: 'live'
                  firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MAPLIO_OFFLINE }}
                  firebase_project_id: ${{ secrets.VITE_FIREBASE_PROJECT_ID_OFFLINE }}
                  netlify_auth_token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                  netlify_site_id: ${{ secrets.NETLIFY_SITE_ID }}
