name: Deploy to Firebase Hosting (Validation)

on:
    pull_request:
        types: [opened, synchronize, reopened]

jobs:
    build_and_deploy:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            checks: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Set default deploy flags for PR
              if: ${{ github.event_name == 'pull_request' }}
              run: |
                  echo "DEPLOY_ONLINE=true" >> $GITHUB_ENV
                  echo "DEPLOY_OFFLINE=true" >> $GITHUB_ENV
                  echo "DEPLOY_NETLIFY=true" >> $GITHUB_ENV

            - name: Setup Environment
              uses: ./.github/actions/setup-env
              with:
                  manual_version: ${{ inputs.version }}

            - name: Validate Secrets
              id: check_secrets
              uses: ./.github/actions/validate-secrets
              with:
                  deploy_online: ${{ env.DEPLOY_ONLINE }}
                  deploy_offline: ${{ env.DEPLOY_OFFLINE }}
                  deploy_netlify: ${{ env.DEPLOY_NETLIFY }}
                  firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MAPLIO }}
                  firebase_api_key: ${{ secrets.VITE_FIREBASE_API_KEY }}
                  firebase_auth_domain: ${{ secrets.VITE_FIREBASE_AUTH_DOMAIN }}
                  firebase_project_id: ${{ secrets.VITE_FIREBASE_PROJECT_ID }}
                  firebase_storage_bucket: ${{ secrets.VITE_FIREBASE_STORAGE_BUCKET }}
                  firebase_messaging_sender_id: ${{ secrets.VITE_FIREBASE_MESSAGING_SENDER_ID }}
                  firebase_app_id: ${{ secrets.VITE_FIREBASE_APP_ID }}
                  firebase_service_account_offline: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MAPLIO_OFFLINE }}
                  firebase_project_id_offline: ${{ secrets.VITE_FIREBASE_PROJECT_ID_OFFLINE }}
                  netlify_auth_token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                  netlify_site_id: ${{ secrets.NETLIFY_SITE_ID }}

            - name: PR Preview Online Deploy
              uses: ./.github/actions/build-and-deploy
              with:
                  mode: 'online'
                  deploy_firebase: 'true'
                  deploy_netlify: 'false'
                  deploy_artifact: 'false'
                  github_deployment_environment: pr-${{ github.event.pull_request.number }}
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  firebase_channel_id: pr-${{ github.event.pull_request.number }}
                  firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MAPLIO }}
                  firebase_api_key: ${{ secrets.VITE_FIREBASE_API_KEY }}
                  firebase_auth_domain: ${{ secrets.VITE_FIREBASE_AUTH_DOMAIN }}
                  firebase_project_id: ${{ secrets.VITE_FIREBASE_PROJECT_ID }}
                  firebase_storage_bucket: ${{ secrets.VITE_FIREBASE_STORAGE_BUCKET }}
                  firebase_messaging_sender_id: ${{ secrets.VITE_FIREBASE_MESSAGING_SENDER_ID }}
                  firebase_app_id: ${{ secrets.VITE_FIREBASE_APP_ID }}
                  netlify_auth_token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                  netlify_site_id: ${{ secrets.NETLIFY_SITE_ID }}

            - name: PR Preview Offline Deploy
              uses: ./.github/actions/build-and-deploy
              with:
                  mode: 'offline'
                  deploy_firebase: 'true'
                  deploy_netlify: 'true'
                  deploy_artifact: 'false'
                  github_deployment_environment: pr-${{ github.event.pull_request.number }}
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  firebase_channel_id: pr-${{ github.event.pull_request.number }}
                  firebase_service_account: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_MAPLIO_OFFLINE }}
                  firebase_project: ${{ secrets.VITE_FIREBASE_PROJECT_ID_OFFLINE }}
                  netlify_auth_token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
                  netlify_site_id: ${{ secrets.NETLIFY_SITE_ID }}
